@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

a {
  font-style: none;
  text-decoration: none;
  color: #4682B4;
}
body {
  height: 89vh;
  font-family: "Roboto", sans-serif;
  margin-top: 0%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #4682B4;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #4682B4;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 3px solid #4682B4;  /* creates padding around scroll thumb */
}

.at-section__title {
    margin: 0 0 70px;
    color: #4682B4;
    font-family: 'Hubballi', cursive;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1rem;
    text-align: center;
  }

  .at-section__members {
    margin: 0 0 70px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 60px;
  }

  .at-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  .at-grid[data-column="1"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    flex-basis: 25%;
  }
  .at-grid[data-column="2"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    flex-basis: 25%;
  }
  .at-grid[data-column="3"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    flex-basis: 25%;
  }
  .at-grid[data-column="4"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    flex-basis: 25%;
  }
  .at-column {
    z-index: 0;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  }
  .at-column:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .at-column:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  }
  .at-column:hover .at-social {
    margin: 16px 0 0;
    opacity: 1;
  }
  @media (max-width: 800px) {
    .at-column {
      width: 50% !important;
      max-width: 50% !important;
      min-width: 50% !important;
      flex-basis: 50% !important;
    }
  }
  @media (max-width: 600px) {
    .at-column {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      flex-basis: 100% !important;
    }
  }

  .at-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }

  .at-server__avatar {
    width: 180px;
    height: 180px;
    border-radius: 300px;
    position: relative;
    margin: 0 auto 70px;
    overflow: hidden;
  }
  .at-server__avatar img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .at-user__avatar {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 0 auto 20px;
    overflow: hidden;
  }
  .at-user__avatar img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .at-user__name {
    color: #4682B4;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.625rem;
  }
  .at-user__title {
    color: #6F808A;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 2.375rem;
  }
  
  
  .container {
    max-width: 1170px;
    width: 100%;
    margin: 100px auto;
    padding: 0 20px;
    box-sizing: border-box;
    transform-origin: top center;
    transform: scale(0.8);
  }


  #button {
    border: 2px solid #fff;
    background-color: none;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: #fff;
    transition: 0.3s background, 0.3s color;
    width: 170px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}

#button:hover{
    background-color: #fff;
    color: #fff;
}
#video {
  width: 99vw;
  height: 91vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  zoom: 1.1;
}
